# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec
*.exe

# Virtuelle Umgebungen
.venv/
venv/

# Secrets
.env

# Planung & Interne Doku
PLAN.txt

# Private / Archive
_archive/
_private/

# Logs
*.log

# Daten
releases/
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini
